body,html{
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 0.95em;
  text-align: center;
}
#chart{
  background-color: #F5F2EB;
  border: 1px solid #CCC;
}

.bar {
  fill: red;
  shape-rendering: crispEdges;
}

.bar-label {
  fill: #000;
  text-anchor: middle;
  font-size: 12px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gridline path,
.gridline line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.bubble-chart {
  border: 5px solid red;

}


.x {
  font-size: 12px;
}

.welcome {

}

.info {

}
/** {
  background-color: purple
}*/
