body,html{
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 0.95em;
  text-align: center;
}
#chart{
  background-color: #F5F2EB;
  border: 1px solid #CCC;
}

input[type="file"] {
  position: relative;
  display: block;
  margin : 0 auto;
  margin-bottom: 25px;
}

input[type="submit"] {
  padding: 12px 30px 14px;
  border-radius: 100px;
  background-color: #2b2b2b;
  color: #ffffff;
  border: none;
}

.landing {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.bar {
  fill: red;
  shape-rendering: crispEdges;
}

.bar-label {
  fill: #000;
  text-anchor: middle;
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gridline path,
.gridline line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.bubble-chart {
  border: 5px solid red;

}


.x {
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;

}

.y {
  font-family: Tahoma, Geneva, sans-serif;
}

.welcome {
  margin-bottom: 25px;
}

.info {
  margin-bottom: 25px;
}

.error {
  color: red;
}
